<script>
 $(document).ready(function(){
   $("p.content").click(function(event){
     alert("Thanks for visiting!");
   });
 });
</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @document.title %>
</p>

<p>
  <b>Content:</b>
  <%= simple_format(@document.content, :class => 'content') %>
</p>

<p>
  <b>Url:</b>
  <%= @document.url %>
</p>

<p>
  <b>Author:</b>
  <%= @document.author %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
